<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Posts</title>
</head>
<body>
    <h1>Gallery</h1>
    
    {% for post, data, image in uploads|zip(post_data, images) %}
    <div class="post">
        <h2>{{ post.replace('_', ' ').replace('.txt', '') }}</h2>
        <p>{{ data }}</p>

        {% if image %}
            <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="Post Image" style="width: 200px;">
        {% endif %}
    </div>
{% endfor %}

</body>
</html>
